<!-- Navbar -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #FFD1DC;">
  <div class="container-fluid px-0 pl-5 pr-5 py-0">
    <a class="navbar-brand py-0" href="{% url 'index' %}">
      <img src="{% static '/img/logo.png' %}" class="logo" alt="" style="width: 180px";/>
    </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li {% if '/' == request.path %} class="nav-item active mr-3"{% else %} class="nav-item mr-3" {% endif %} >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li {% if 'about' in request.path %} class="nav-item active mr-3"{% else %} class="nav-item mr-3" {% endif %} >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li {% if 'course' in request.path %} class="nav-item active mr-3"{% else %} class="nav-item mr-3" {% endif %} >
            <a class="nav-link" href="{% url 'course' %}">Featured courses</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li {% if 'noticeboard' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
          <a href="{% url 'noticeboard' %}" class="nav-link">Welcome {{user.username}} (noticeboard)</a>
          </li>
          <!--logout-->
          <li class="nav-item mr-3">
           <a href="javascript:{document.getElementById
            ('logout').submit()}" class="nav-link">
            {% comment %} <a href="{% url 'logout' %}" class="nav-link"> {% endcomment %}
            <i class="fas fa-sign-out-alt"> Logout</i></a>
              <form action="{% url 'logout' %}" method="POST" 
            id='logout'>{% csrf_token %}
              <input type="hidden" />
            </form>
          </li> 
          <!--end of logout-->
        {% else %}
          <li {% if 'register' in request.path %} class="nav-item mr-3 active" {% else %} class="nav-item mr-3" {% endif %}>
            <a class="nav-link" href="{% url 'register' %}">
              <i class="fas fa-user-plus"></i> Register</a
            >
          </li>
          <li {% if 'login' in request.path %} class="nav-item mr-3 active" {% else %} class="nav-item mr-3" {% endif %}>
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i>

              Login</a
            >
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>